<% provide(:title, "Home")%>
<div class="container">
	<% if current_user %>
		<p> Welcome, <%= current_user.nickname %>! </p>
	<% else %>
		<h2>Be sure to log in! </h2>
		<h3 class="nav-item"><%= link_to 'Log In via Steam', '/auth/steam' %> </h3>
	<% end %>

	<h1>StaticPages#home</h1>

	<p>Find me in app/views/static_pages/home.html.erb</p>
</div>