<% provide(:title, "Matches")%>

	
	

	
	<!-- main page container stuff below here -->


  <div class="player_matches">
	<div class="container content">

		<table>

			<tr>Solo mmr party</tr>
			<td><%= @solo_rank %></td>
			

			<tr>party mmr</tr>
			<td><%= @party_rank %></td>

		</table>

		<%= @solo_rank %>
	</div>  	
</div>

