<% provide(:title, "Meta")%>
<div class="container">
	<h1>This is where you can find hero data!</h1>

	

	<table class="col-md">
		<tr>
			<th>Hero</th>
			<th>Hero Portrait</th>
			<th>Kills</th>
			<th>Deaths</th>
			<th>XPM</th>
			<th>GPM</th>
			<th>Hero damage</th>
			<th>Tower Damage</th>
			<th>Healing</th>
			<th>Side</th>
			<th>Win?</th>
		</tr>

<%= @hero_list[0] %>
<%= @hero_name %>
	
</table>
	

		
			

	

</div>