/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'will_paginate-bootstrap'

.player_matches{

}



.container{
	background-color: lightgrey;
}
.container-fluid{
	background-color: #cc80ff
;
}
.devborder{
	border: 1px solid black;
}


.content{

}

.label{
	margin: 10px;
	padding:20px;
}

.users-list{
	list-style: none;
}

.index-profile{
	margin: 20px;
	font-size: 1.5em;
	font-weight: bolder;
}

.index-profile a{
	padding-left: 1%;
}

.index-profile a:hover{
	text-decoration: none;

}

#user-nickname{
	font-size: 1.4em;
	font-weight: bolder;
}

footer{
	margin-top: 10%;
}

/*table*/

table{
	border: 1px solid black;
	padding: 10%;
	margin:1%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

tr{
	
	padding: 10px;
}

th{
	background-color: lightgrey;
	border-bottom: 10px solid black;
	padding: 20px;

}
td{
	background-color: plum;

	padding:20px;
	border-right: 4px solid purple;
}